/node_modules
/public/hot
/public/tcc-control-panel
/public/js/app.js
/public/js/*.min.js
/public/css/app.css
/public/storage
/public/mix-manifest.json
/public/sitemap
/public/sitemap.xml
/public/images/*
!/public/pdf
/storage/*.key
/vendor
/.idea
/.vagrant
/.composer
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.directory
.env
package-lock.json
*.map
*.zip
*.mp4
composer.lock
worker.log
public/files
redeploy.sh
